@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  -webkit-animation: fade 3s; /* Safari 4+ */
  -moz-animation:    fade 3s; /* Fx 5+ */
  -o-animation:      fade 3s; /* Opera 12+ */
  animation:         fade 3s; /* IE 10+, Fx 29+ */
}

	#project-banner {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
	//	background-image: url("../../images/project-banner.jpg");
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		padding: 6em 0 2em 0 ;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
		height: 60vh;
		margin-bottom: -3.25em;
		max-height: 32em;
		min-height: 22em;
		position: relative;
		top: -3.25em;
	}

		#project-banner:after {
			-moz-transition: opacity 2.5s ease;
			-webkit-transition: opacity 2.5s ease;
			-ms-transition: opacity 2.5s ease;
			transition: opacity 2.5s ease;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			background-color: #242943;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.85;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#project-banner h1 {
			font-size: 3.25em;
		}

		#project-banner > .inner {
			-moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
			-webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
			-ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
			transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
			padding: 0 !important;
			position: relative;
			z-index: 2;
		}

			#project-banner > .inner .image {
				display: none;
			}

			#project-banner > .inner header {
				width: auto;
			}

				#project-banner > .inner header > :first-child {
					width: auto;
				}

					#project-banner > .inner header > :first-child:after {
						max-width: 100%;
					}

			#project-banner > .inner .content {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				margin: 0 0 2em 0;
			}

				#project-banner > .inner .content > * {
					margin-left: 1.5em;
					margin-bottom: 0;
				}

				#project-banner > .inner .content > :first-child {
					margin-left: 0;
				}

				#project-banner > .inner .content p {
					font-size: 0.7em;
					font-weight: 600;
					letter-spacing: 0.25em;
					text-transform: uppercase;
				}

		#project-banner.major {
			height: 75vh;
			min-height: 30em;
			max-height: 50em;
		}

			#project-banner.major.alt {
				opacity: 0.75;
			}

		#project-banner.style1:after {
			background-color: #6fc3df;
		}

		#project-banner.style2:after {
			background-color: #8d82c4;
		}

		#project-banner.style3:after {
			background-color: #ec8d81;
		}

		#project-banner.style4:after {
			background-color: #e7b788;
		}

		#project-banner.style5:after {
			background-color: #8ea9e8;
		}

		#project-banner.style6:after {
			background-color: #87c5a4;
		}

		body.is-loading #project-banner:after {
			opacity: 1.0;
		}

		body.is-loading #project-banner > .inner {
			-moz-filter: blur(0.125em);
			-webkit-filter: blur(0.125em);
			-ms-filter: blur(0.125em);
			filter: blur(0.125em);
			-moz-transform: translateX(-0.5em);
			-webkit-transform: translateX(-0.5em);
			-ms-transform: translateX(-0.5em);
			transform: translateX(-0.5em);
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#project-banner {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#project-banner {
				padding: 5em 0 1em 0 ;
				height: auto;
				margin-bottom: -2.75em;
				max-height: none;
				min-height: 0;
				top: -2.75em;
			}

				#project-banner h1 {
					font-size: 2em;
				}

				#project-banner > .inner .content {
					display: block;
				}

					#project-banner > .inner .content > * {
						margin-left: 0;
						margin-bottom: 2em;
					}

				#project-banner.major {
					height: auto;
					min-height: 0;
					max-height: none;
				}

		}

		@media screen and (max-width: 480px) {

			#project-banner {
				padding: 6em 0 2em 0 ;
			}

				#project-banner > .inner .content p br {
					display: none;
				}

				#project-banner.major {
					padding: 8em 0 4em 0 ;
				}

		}
		
		.selected{
			display: flex;
	    align-items: center;
		}
		
		.photo-carousel{
			height: 80vh;
			max-width: 80vw;
			img{
				height: 100%;
				width: 100%;
			}
		}

		.description{
		  margin-left: 5%;
      margin-right: 5%;
		}

		.blurb{
			margin-top: 3%;
		}
		
		.post-buttons{
			text-align: center;
		}

		.post-title{
			margin-left: 1%;
		}